@font-face {
    font-family: 'league_gothiccondensed_italic';
    src: url('leaguegothic-condenseditalic_0-webfont.eot');
    src: url('leaguegothic-condenseditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condenseditalic_0-webfont.woff2') format('woff2'),
         url('leaguegothic-condenseditalic_0-webfont.woff') format('woff'),
         url('leaguegothic-condenseditalic_0-webfont.ttf') format('truetype'),
         url('leaguegothic-condenseditalic_0-webfont.svg#league_gothiccondensed_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothicCnRg';
    src: url('leaguegothic-condensedregular_0-webfont.eot');
    src: url('leaguegothic-condensedregular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condensedregular_0-webfont.woff2') format('woff2'),
         url('leaguegothic-condensedregular_0-webfont.woff') format('woff'),
         url('leaguegothic-condensedregular_0-webfont.ttf') format('truetype'),
         url('leaguegothic-condensedregular_0-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothicitalic';
    src: url('leaguegothic-italic_0-webfont.eot');
    src: url('leaguegothic-italic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-italic_0-webfont.woff2') format('woff2'),
         url('leaguegothic-italic_0-webfont.woff') format('woff'),
         url('leaguegothic-italic_0-webfont.ttf') format('truetype'),
         url('leaguegothic-italic_0-webfont.svg#league_gothicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothicregular';
    src: url('leaguegothic-regular_0-webfont.eot');
    src: url('leaguegothic-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular_0-webfont.woff2') format('woff2'),
         url('leaguegothic-regular_0-webfont.woff') format('woff'),
         url('leaguegothic-regular_0-webfont.ttf') format('truetype'),
         url('leaguegothic-regular_0-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
}

.nb {
  font-weight: 100;
}

.ltsp1 {
  letter-spacing: 1px;
} 

.ltsp2 {
  letter-spacing: 2px;
} 

.ltsp3 {
  letter-spacing: 3px;
} 

section {
    display: block;
    background: #CFF;
    height:inherit;
    width:100%;
    box-sizing:border-box;
    padding: 6% 4%;
}
#one {
    background: #111816;
    color: #fff;
    font-size: 30px;
    padding: 0;
}
#two {
    background: #FFF;
}
#three {
    background: #0089DE;
    padding-top: 15%;
    padding-bottom: 24%;
}
#four {
    background: #061341;
    padding-bottom: 0;
}

#five {
    background: #0AADB0;
    padding-bottom: 24%;
}

#six {
    background: #061341;
}

#seven {
  background: #0089DE;
}

#eight {
  background: #E6E6E6;
}

.cont-ocs {
  margin-top: 170px;
  position: relative;
}

.cont-ops {
  position: relative;
}

.inner-cont-ocs {
  position: absolute;
  bottom: -255px;
}

.os1 {
  line-height: 30px;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.imopt1 img {
  width: 90%;
}

nav.nav_cst {
    position: fixed;
    z-index: 1;
    width: 100%;
}
nav.nav_cst a {
    display: block;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    background: #000;
    padding: 10px;
    margin: 3px;
}

.scene_cst,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

.scene_cst {
  /*min-height: 300px;*/
  position: relative;
  overflow: hidden; }

.layer {
  position: absolute; }
  .layer div {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }

img {
    display: block;
    width: 100%;
}

.background1 {
    background: url(../imgs/layer1.png) no-repeat 100% 100%;
    bottom: -90px;
    background-size: cover;
    position: absolute;
    width: 110%;
    left: -5%;
    top: -5%;
}

.bg_blue {
  background: url('../imgs/blue_bg.png') repeat 100% 100%;
  background-size: cover; 
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidenav_cst .closebtn_cst {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-right: 8px;
    color: #000;
    text-decoration: none;
}

.sidenav_cst .closebtn_cst:hover {    
    color: #00AEEF;    
}

.sidenav_cst {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav_cst a {
  text-decoration: none;
}

#main_cst {
    transition: margin-right .5s;    
}

div#maincontent {
    outline: 0;
}

.navbar-nav.mzn_logo_cst {
  padding-top: 25px;
}

.navbar-nav.social_header {
  padding-top: 60px;
}

.navbar-nav.mzn_logo_cst li a:hover, .navbar-nav.social_header li a:hover, .navbar-nav.social_header li a:focus{
  background: none;
}

.navbar-nav.social_header li:last-child a {
  margin-left: 20px;
  font-size: 22px;
  position: relative;
  top: -3px;
  text-shadow:none;
  padding-right: 0;
}

.navbar-nav.social_header li a {
  color: #FFF;
  font-size: 14px;
  padding: 12px;
}

.navbar-nav.social_header li a:hover {
  color: #FFF;
}

.mzn_logo_cst img {
  width: 70%;
}

.layer .container.intro {
  padding-top: 200px;
  padding-bottom: 100px;
}

.intro-text h1 {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 55px;
}

.cl-blue {
  color: #00AEEF;
}
.cl-white {
  color: #FFFFFF;
}
.cl-yellow {
  color: #F9D855;
}


.opsans {
  font-family: 'Open Sans', sans-serif;
}

.cl-purple {
  color: #061341;
}

.scroll_down img {
    width: auto;
    text-align: center;
    margin: 0 auto;
}

.pa1 {
    font-size: 3.3em;
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.os2 {
    font-size: 14px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

/*
.line-arrow-down-center {
    width: 52px;
    margin: 0 auto;
}

.arrow-down {
    height: 100px;
    width: 2px;
    background: #FFF;
    display: block;
    margin: auto;
    margin-top: 24px;
}

.img-scroll-down {
    position: absolute;
    top: 22px;
    right: 0;
}*/

.in_side {
  padding-left: 50px;
  padding-right: 20px;
}

.logo_side img {
    width: 35%;
    margin-bottom: 30px;
}

.logo_side {

}

ul.menu_side, ul.social_side {
    list-style: none;
    padding: 0;
}

ul.menu_side {
  margin-bottom: 30px;
}

ul.menu_side li a{
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  line-height: 34px;
}

ul.menu_side li a:hover {
  color: #0089DE;
}

ul.social_side li {
  float: left;
  position: relative;
}

ul.social_side li a {
  padding: 0 15px;
  color: #000000;
  font-size: 16px;
}

ul.social_side li a:hover {
  color: #00AEEF;
}

ul.social_side li:first-child a {
  padding-left: 0;
}

ul.social_side li:last-child a {
  padding-right: 0;
}

.no-padding {
   padding: 0 !important;   
}

.nopadding-left {
   padding-left: 0 !important;
}
.line-v{
  display: block;
  height: 100px;
  width: 1px;
  background: #000000;
  margin-bottom: 40px;
}

.line-h {
  display: block;
  height: 1px;
  width: 80px;
  background: #000000;
  margin-top: 31px;
}

.container.v2 {
    width: 970px;
}

.clean-cst {
    float: left;
    width: 100%;
}

h2.x32 {
    font-size: 3.1em;
    line-height: 40px; 
}

.clearfix {
  clear: both;
}

.readmore {
    border: 1px solid;
    padding: 12px 35px;
    margin-top: 30px;
    font-size: 12px;
    color: #061341;
    display: inline-block;
    cursor: pointer;
}

.readmore:hover {
  text-decoration: none;
  color:#FFFFFF;
  background: #061341;
}

.readmore.cl-white {
  color:#FFFFFF;
}

.readmore.cl-white:hover {
  color:#0089DE;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
}

.cl1 {
  background: #061341;
}

.cl2 {
  background: #0D1D57;
}

.cl3 {
  background: #182B70;
}

.inner-box {
  color: #FFFFFF;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
}

.inner-box2 {
  height: 320px;
}

.cl1 .inner-box2 {
  border:1px solid #061341;
}
.cl2 .inner-box2 {
  border:1px solid #0D1D57;
}
.cl3 .inner-box2 {
  border:1px solid #182B70;
}

.inner-box2:hover {
  border:1px solid #FFFFFF;
}

.numb {
  font-size: 34px;
  margin: 40px 0 30px;
  display: block;
  font-weight: 100;
}

.ttl {
    font-size: 18px;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 100;
    line-height: 26px;
    margin-bottom: 14px;
    display: block;
    margin-top: 14px;
}

.inner-box .readmore {
  color: #FFF;
  border: 1px solid;
  font-size: 12px;
  font-family: 'Hind Madurai', sans-serif;
}

.inner-box .readmore:hover {
  color: #061341;
  border: 1px solid #FFF;
  background: #FFF;
}

#three .container.v2 {
    margin-top: 10%;
}

.imgServ {
    position: relative;
    top: -285px;
}

.arrow-down {
  display: block;
  width: 12px;
  margin: 0 auto;
}

.arrow-down img {
  width: auto;  
}

.cont-box-serv {
    position: relative;
    top: -260px;
    margin-bottom: -120px;
    float: left;
    width: 100%;
}

.sx-small {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 30px;
}

.sx-big {
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 40px;
}

.cst-tab {
    border: none;
}

.cst-tab li {
    border: 1px solid #11D3D6;
}

.cst-tab li {
    border: 1px solid #11D3D6;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
}

.cst-tab li:first-child {
    border-right: none;
}

.cst-tab li:last-child {
    border-left: none;
}

.cst-tab li a {
    color: #FFF;
    padding: 20px 0;
    margin: 0;
    font-weight: 100;
    text-shadow: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Hind Madurai', sans-serif;
}

.cst-tab li.active , .cst-tab li:hover {
    border-bottom: 3px solid #11D3D6;
}

.cst-tab li.active a {
    background: none; 
    border: 1px solid #061341;
    color: #11D3D6;
    padding-bottom: 18px;
}

.cst-tab li a:hover, .cst-tab li a:focus, .cst-tab li.active a:hover, .cst-tab li.active a:focus {
    color: #11D3D6;
    background: none;
    border: 1px solid #061341;
    padding-bottom: 18px;
}

.table-tabs {
    margin-top: 55px;
}

.tab-content {
    margin-top: 65px;
    text-align: center;
    color: #FFF;
}

.cst-pane span {
  font-size: 12px;
  font-family: 'Hind Madurai', sans-serif;
}

.cst-pane h3 {
  font-size: 38px;
  font-family: 'Hind Madurai', sans-serif;
}

.line-ttl {
  display: block;
  width: 70px;
  height: 3px;
  background: #6A7AE6;
  margin: 20px auto 30px;
}

.cst-pane p {
  font-weight: 100;
  line-height: 30px;
  font-family: 'Hind Madurai', sans-serif;
  color: #ececec;
}

.tab-content .cst-table {
  margin-top: 30px;
}

table.cst-table {
    width: 100%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

table.cst-table th, table.cst-table td {
  padding: 20px 0;
}

table.cst-table th {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 100;
  background: #11D3D6;
  text-align: center;
  letter-spacing: 2px;
  border-left: 1px solid #FFFFFF;
  width: 25%;
}

table.cst-table td {
  padding: 20px 30px;
  line-height: 30px;
  font-weight: 100;
  vertical-align: top;
  color: #ececec;
  border-left: 1px solid #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  background: #99A7FF;
}

.dsp-block {
  display: block;
  margin: 30px auto 60px;
  width: 145px;
}

span.readmore.cl-white.dsp-block:hover {
  color: #061341;
}

table.cst-table th:first-child, table.cst-table td:first-child {
  border-left: none;
}

table.cst-table tr:nth-child(odd) td {
  background: #6A7AE6;
}

.cont-hov {
    position: relative;
}

.image-hov {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-hov {
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  opacity: 0;
  position: absolute;
  top: 0;  
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)*/
}

.cont-hov:hover .image-hov {
  opacity: 1;
}

.cont-hov:hover .middle-hov {
  opacity: 1;
}

.text-hov a {  
  color: white;
  font-size: 14px;
  padding: 16px 32px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  display: block;
  margin-top: 65px;
  border: none;
  font-weight: 100;
  font-family: 'Hind Madurai', sans-serif;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.text-hov a:hover {
  text-decoration: none;
}

.line-under-img-box {
  display: block;
  width: 24px;
  margin: 0 auto;
  background: #E8B13A;
  height: 2px;  
}

.subtitle {
  display: block;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Hind Madurai', sans-serif;
  text-align: center;
}

.cl-gr {
  color: #ececec;
}

.top-title {
    font-size: 46px;
}

.line-ttl.cl-white {
    background: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 65px;
}

.line-ttl.cl-purple {
    background: #061341;
    margin-top: 30px;
    margin-bottom: 65px;
}

.padding5 {
    padding: 0 5px;
}

.cont-detail-news-box {
  margin-top: 40px;
}

.date-news {
  display: block;
  color: #ececec;
  margin-top: 10px;
  font-weight: 100;
  font-size: 16px;
  font-family: 'Hind Madurai', sans-serif;
}

.title-news {
  font-size: 24px;
  line-height: 30px;
  color: #FFF;
  margin-top: 8px;
  font-weight: 100;
  font-family: 'Hind Madurai', sans-serif;
}

.margintop30 {
  margin-top: 30px;
}

.flexslider.cst-flex {
    background: none;
    border: none;
    margin: 40px 0 90px;
}

.flex-direction-nav a {
  height: 45px;
}

.control-nav-cst {
    width: 100px;
    margin: 0 auto;
}

.sliderNext, .sliderPrev {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  float: left;
  margin: 0 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.sliderNext i, .sliderPrev i {
  margin-top: 5px;
}

.sliderNext:hover, .sliderPrev:hover {
  background: #000;
  color: #FFF;
}

@media (max-width: 1200px) {

}
@media (max-width: 992px){
  .container.v2 {
      width: 970px;
  }
}
@media (max-width: 768px){
  .container.v2 {
      width: 750px;
  }
}
